{{#partial "content"}}
    <div id="tona1">
        <div class="main-main">


            <div class="backgImg">
                <div id="about1">
                    <h1>ABOUT US</h1>
                </div>
                ​
            </div>
            ​
            <div class="backcontent">
                <div class="his">
                    <h2> GRACIOUS GIVERS</h2><br><br>
                    <p>With all the African refugees and asylum-seekers Rwanda is currently hosting, the support to organisations that provide for such is essential <br> and agile.</p>
                    <p>Aside from these, charity organisations, hospitals and generally the unpriviledged in the community we are in, need our consideration</p>
                    <p>But probably someone out there doesn't know how to donate to one of these! </p>
                    <p>It is in this manner GRACIOUS GIVERS comes in to save the day! </p>


                </div>
            </div>
            ​
            <div class="backgImg" id="about2">
                <div id ="tona" class="row">
                    <div class="col-md-3">
                        <span class="quote-icon flaticon-left-quote"></span>
                        <p>
                        </p>
                    </div>
                    <div class="col-md-3">
                        <div class="flip-icon">
                            <div class="flip-icon-inner">
                                <div class="flip-icon-front">
                                    <!-- <span class="icon sl-like"></span> -->
                                    <img src="/image/1.png">
                                </div>
                                <div class="flip-icon-back">
                                    <br><br>
                                    <p>DONATE</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="flip-icon">
                            <div class="flip-icon-inner">
                                <div class="flip-icon-front">
                                    <!-- <span class="icon sl-like"></span> -->
                                    <img src="/image/2.png">
                                </div>
                                <div class="flip-icon-back">
                                    <br><br>
                                    <p>VOLUNTEER</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="flip-icon">
                            <div class="flip-icon-inner">
                                <div class="flip-icon-front">
                                    <!-- <span class="icon sl-like"></span> -->
                                    <img src="/image/3.png">
                                </div>
                                <div class="flip-icon-back">
                                    <br><br>
                                    <p>TAKE PART</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="backcontent">
                <div class="his">
                    <h2>VISION</h2>
                    <p>To grant wishes that will give hope to children and youth in need in communities across Rwanda.</p>
                    <br><br>
                    <h2>MISSION</h2>
                    <p>To generate resources through fundraising initiatives and community partnerships, and use those funds to make an impact in the lives of children</p>
                    <p>To attract volunteers and partners who are passionate about helping children achieve their hopes, dreams and full potential. To transform communities</p>
                    <p>To transform communities through helping children, youth and their families who need support” to ensure that this mission is written in a way<br> that is consistent with the other missions.</p>

                </div>
            </div>
            <div class="backgImg">

                <div id="about3">
                    <div class="row">
                        <div class="col-md-6">
                            <img id="quoteicon" src="https://wdh02.azureedge.net/-/media/oticon/main/images/professionals/text-image-spot/quote-sign-dark.png?h=634&la=en-CA&w=600&rev=2AF0&hash=2B674932965C2B58524A5FD38124C3086B82EA92" width="100px" height="100px">
                            <p id="quote" >Snowflakes, leaves, humans, plants, raindrops, stars, molecules, </p>
                            <p id="quote">entities all come in communities. The singular cannot in reality exist.</p>
                        </div>
                    </div>
                </div>
            </div>
            ​
        </div>
    </div>
{{/partial}}
{{>layout1.hbs}}
<style>

    /* Tona start */
#tona1{
  color: white;
}
.backcontent{
  background-color: white;
  /* background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative; */
  color: black;
  text-align: center;

}
.backgImg{
  text-align:center;
  /* margin-top: 50px;
  margin-bottom: 50px; */
  padding: 70px;

}
.aboutusworddiv::after {
  /* content: "";
  position: absolute;
  left: 0; right: 0;
  top: 0; bottom: 0;
  background: rgba(0,0,0,.5); */
}
#about1{
  padding:200px;
  font-family: 'Merriweather', serif;
  font-size: 1.5em;
  margin: -70px;
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url("http://d.commonsupport.com/samara/wp-content/uploads/2017/05/3-2.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
#about2{
  padding:100px;
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url("http://www.kiplinger.com/kipimages/pages/16018.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
#about3{
  padding:100px;
  margin: -70px;
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url("http://d.commonsupport.com/samara/wp-content/uploads/2017/05/3-2.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
  background-position: center top;
  font-family: 'Merriweather', serif;
}
.main-main{
  /* background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url("https://awakeningtothedance.files.wordpress.com/2016/03/giving-hands-share-flowers-image-public-domain-pixabay-1024x685.jpg?w=848");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover; */
}
.his{
  margin-top: 30px;
  margin-bottom: 30px;
}
img{
  border-radius: 100px;
}
.flip-icon {
  background-color: transparent;
  width: 200px;
  height: 100px;
  border-radius:70px;
  perspective: 1000px;
}
.flip-icon-inner {
  position: relative;
  border: 10px;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.flip-icon:hover .flip-icon-inner {
  transform: rotateY(180deg);
}
.flip-icon-front, .flip-icon-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.flip-icon-front {
  color: black;
}
.flip-icon-back {
  color: white;
  font-weight: bold;
  transform: rotateY(180deg);
  border-radius: 100px;
  width: 200px;
  height: 120px;
  background-color: black;
}
#quoteicon{
  margin-left: -500px;
}
#quote{
  font-family: 'Lato';
  font-size: 22px;
}
.his p{
font-family: 'Cinzel', serif;
}
/* Tona End */
Collapse






</style>