{{# partial "content"}}

<div class="container">
    <div class="header">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTc1VOGZ_lSO8M75818p7RW_WeQzuhBGp1KQD060HheZU6UOK0l"
             class="card-img" alt="hisory">
        <div class="card-img-overlay" id="about">
            <h2>HISTORY</h2>
            <p>With increment of refugees being received in Rwanda, the materials to helps
                to peoples is not enough compare their needs.<br>
                Ms.MUgengano Alice has idea to build a website where someone could share the information of
                things which he/she wish to donate.<br>
            </p>
        </div>
    </div>

    <div class="body">
        <div class="staff">
            <h2 style="text-align: center">OUR TEAM</h2>
            <p class="card-text" style="text-align: center">The Gracious givers is a charity organization composed
                initial with 5
                members,student of wecode-Rwanda.<br>
                The organization is currently operating in kigali(CHMS ,former KIE campus)
            </p>
            <div class="card-deck">
                <div class="team1">
                    <img src="https://avatars2.githubusercontent.com/u/52708285?s=400&v=4" alt="Alice" width="40%">
                    <div class="card-body">
                        <h5 class="card-title"><b>Mugengano Alice</b></h5>
                        <p>Relation affair</p>
                    </div>
                </div>

                <div class="team2">
                    <img src="https://avatars2.githubusercontent.com/u/52708285?s=400&v=4" alt="Benedicte"
                         width="40%">
                    <div class="card-body">
                        <h5 class="card-title"><b>Manishimwe Benedicte</b></h5>
                        <p>Logistic officer</p>
                    </div>
                </div>

                <div class="team3">
                    <img src="https://avatars2.githubusercontent.com/u/52708285?s=400&v=4" alt="Diane" width="40%">
                    <div class="card-body">
                        <h5 class="card-title"><b>Ujeneza Diane</b></h5>
                        <p>Communty activites</p>
                    </div>
                </div>

                <div class="team4">
                    <img src="https://avatars2.githubusercontent.com/u/52708285?s=400&v=4." alt="Eliane"
                         width="40%">
                    <div class="card-body">
                        <h5 class="card-title"><b>Iradukunda H.Eliane</b></h5>
                        <p>Call center</p>
                    </div>
                </div>

                <div class="team5">
                    <img src="https://avatars2.githubusercontent.com/u/52708285?s=400&v=4." alt="Tona" width="40%">
                    <div class="card-body">
                        <h5 class="card-title"><b>Tona Daphin</b></h5>
                        <p>Reception</p>
                    </div>
                </div>
            </div>

        </div>



        <div class="us">

            <div class="col mb-10">
                <div class="row no-gutters">
                    <div class="col-md-6 " id="mission1">
                        <h2 class="card-title">MISSION</h2>
                        <p class="card-text">Gracious_Giver has mission to orient people wish to donate tangible
                            things or money to person on need via the online platform <br>
                            and facilitate the donors to reach the person need aids.<br>
                        </p>
                    </div>

                    <div class="col-md-6">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQl4t_3SJRMZAdrugWcwnNbA2ns_ebUYMt_Xi4QKn-qjIb16S_h"
                             class="card-img  img-responsive" alt="mission">
                    </div>
                </div>
            </div>


            <div class="col mb-10">
                <div class="row no-gutters">
                    <div class="col-md-6">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQl4t_3SJRMZAdrugWcwnNbA2ns_ebUYMt_Xi4QKn-qjIb16S_h"
                             class="card-img img-responsive" alt="vision">
                    </div>
                    <div class="col-md-6 " id="mission2">

                        <h2 class="card-title"> MISSION</h2>
                        <P class="card-text"> With the Gracious_Givers online platform ,<br>
                            there will no longer waste of materials because of lack information where and whom
                            to give it </P>



                    </div>
                </div>
            </div>
        </div>

        <div class="footer">
            <div id="values">
                <h2 class="card-title">OUR VALUES </h2>
                <ul class="card-text">
                    <li>Respect</li>
                    <li>Accountability</li>
                    <li>Integrity</li>
                </ul>
            </div>

            <div class="target">
                <H4><b>+100,000Peoples</b></H4>
                <p>receive aids by 2020,<strong>in Refugees camps,Hospital;Centers of Rehabillation;Urugo
                    rw"impinganzima</strong>in </p>
            </div>


        </div>
    </div>
</div>
{{/partial}}
{{>layout.hbs}}
<style>
#about{
    text-align: center;

    padding: 400px;
}
h2{
    color:palevioletred;
   font-size: 40px;
}
#about>p{
    color:white;
    font-size: 20px;
}

/* .team>img{
    width:20%;
} */
.card-deck{
    padding:15px;
}
h5{
    font-weight:bolder;
    font-style: italic;
}
#mission1,#mission2{

    padding: 58px;
}

.us{
  border:  1px solid black;
}
.footer{
    column-count: 2;
    margin-top: 10px;
}
.values{
    float: left;
    width:50%;
    height: 100%;
}

</style>

