{{#partial "content"}}
<div id="tona1">
    <div class="main-main">


          <div class="abouthistory">
              <div id="about">
                  <h2>ABOUT US</h2>
                </div>

          </div>

      <div class="aboutusimgdiv">
         <div class="his">
          <h2>HISTORY OF GRACIOUS GIVERS</h2>
          <p>When you work with us, you are part of the team of committed collaborators. All aspects of our software development process are intergrated, iterative<br> and agile.</p>
          <p>Our approach unifies design, development and product management to create exceptional products.</p>
          <p>We start each project by understanding your business goals,the user's needs and the product requirements.</p>
          <p>Then we help translate them into effective and elegant solutions.</p>
            <!-- <div class="aboutusworddiv">


            </div> -->
          </div>
          </div>



                <div class="abouthistory" id="about">
                    <div id ="tona" class="row">
                      <div class="col-md-3">
                          <p>When you work with us, you are part of the team of committed collaborators. All aspects of our software development process are intergrated, iterative<br> and agile.</p>
                          <p>Our approach unifies design, development and product management to create exceptional products.</p>
                          <p>We start each project by understanding your business goals,the user's needs and the product requirements.</p>
                      </div>
                      <div class="col-md-3">
                          <p>When you work with us, you are part of the team of committed collaborators. All aspects of our software development process are intergrated, iterative<br> and agile.</p>
                          <p>Our approach unifies design, development and product management to create exceptional products.</p>
                          <p>We start each project by understanding your business goals,the user's needs and the product requirements.</p>
                      </div>
                      <div class="col-md-3">
                          <p>When you work with us, you are part of the team of committed collaborators. All aspects of our software development process are intergrated, iterative<br> and agile.</p>
                          <p>Our approach unifies design, development and product management to create exceptional products.</p>
                          <p>We start each project by understanding your business goals,the user's needs and the product requirements.</p>
                      </div>
                      <div class="col-md-3">
                          <p>When you work with us, you are part of the team of committed collaborators. All aspects of our software development process are intergrated, iterative<br> and agile.</p>
                          <p>Our approach unifies design, development and product management to create exceptional products.</p>
                          <p>We start each project by understanding your business goals,the user's needs and the product requirements.</p>
                      </div>
                    </div>
                  </div>



          <div class="aboutusimgdiv">
              <div class="his">
              <h2>HISTORY OF GRACIOUS GIVERS</h2>
              <p>When you work with us, you are part of the team of committed collaborators. All aspects of our software development process are intergrated, iterative<br> and agile.</p>
              <p>Our approach unifies design, development and product management to create exceptional products.</p>
              <p>We start each project by understanding your business goals,the user's needs and the product requirements.</p>
              <p>Then we help translate them into effective and elegant solutions.</p>

            </div>
          </div>
            <div class="abouthistory">

            <div id="about">
                <h2>ABOUT US</h2>
              </div>
            </div>

    </div>
  </div>


{{/partial}}