{{#partial "content"}}
    <div class="container">
        <h1>Areas to donate in the region</h1>
        <br>
        <br>
        <br>
        <div> <h3>Orphanages</h3><br>
            <div class="row">
                <div class="col-md-3">
                    <div class="media-body">
                        <div class="hovereffect">
                            <img src="https://i2.wp.com/leptitrennais.fr/wp-content/uploads/2017/09/gisimba-memorial-center.jpg" class="mr-3" alt="...">
                            <div class="overlay">
                                <a class="info" href="www.gisimbamemorialcenter.org">More</a>
                            </div>
                        </div>
                        <h5 class="mt-0 mb-1">Gisimba Memorial Center</h5>
                        Gisimba Memorial Centre is an after-school centre for disadvantaged children in Kigali, Rwanda. Formerly, it was the oldest and best-known orphanage in Rwanda .
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="media-body">
                        <div class="hovereffect">
                            <img src="https://pbs.twimg.com/media/D4GlgciWwAAKrF7.jpg" class="mr-3" alt="...">
                            <div class="overlay">
                                <a class="info" href="#">More</a>
                            </div>
                        </div>
                        <h5 class="mt-0 mb-1">Kunda Village Ministry</h5>
                        Kunda Village is based in Kigali, Rwanda. We are working to provide meals, education, and support for orphans in Rwanda. We are dependent on the support of donors to fund our mission .
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="media-body">
                        <div class="hovereffect">
                            <img src="http://imbabazi.org/wp-content/uploads/2012/09/img_logo_newest.png" class="mr-3" alt="...">
                            <div class="overlay">
                                <a class="info" href="#">More</a>
                            </div>
                        </div>
                        <h5 class="mt-0 mb-1">Imbabazi(A center of hope)</h5>
                        Imbabazi is dedicated to the continuation and preservation of Roz Carr’s legacy of nurturing and empowering Rwanda’s children and local communities through education, skills training, and income generating opportunities .
                    </div>

                </div>
            </div>
        </div><br>
        <div>
            <h3>Hospitals</h3><br>
            <div class="row">
                <div class="col-md-3">
                    <div class="media-body">
                        <div class="hovereffect">
                            <img src="https://www.newtimes.co.rw/sites/default/files/styles/mystyle/public/main/articles/2013/01/04/1357333021Kibagabaga-.jpg" class="mr-3" alt="...">
                            <div class="overlay">
                                <a class="info" href="#">More</a>
                            </div>
                        </div>
                        <h5 class="mt-0 mb-1">Kibagabaga Hospital</h5>
                        Kibagabaga Hospital is next to Kibagabaga and is located in Kigali Province, Rwanda. Kibagabaga Hospital has a length of 0.67 kilometres .
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="media-body">
                        <div class="hovereffect">
                            <img src="https://www.vanguardnews.ug/wp-content/uploads/2019/06/slide_14-960x600.jpg" class="mr-3" alt="...">
                            <div class="overlay">
                                <a class="info" href="#">More</a>
                            </div>
                        </div>
                        <h5 class="mt-0 mb-1">Masaka Hospital</h5>
                        Masaka Hospital, Rwanda, commonly known as Masaka Hospital, is a hospital in Rwanda. It is an urban, general hospital built between 2008 and 2011, with funding from the Government of China, as a gift to the Government of Rwanda .
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="media-body">
                        <div class="hovereffect">
                            <img src="http://2.bp.blogspot.com/_DfAObrEfqTc/SFOTpgBC48I/AAAAAAAADT0/b5HGACJak90/w1200-h630-p-k-no-nu/100_7225.jpg" class="mr-3" alt="...">
                            <div class="overlay">
                                <a class="info" href="">More</a>
                            </div>
                        </div>
                        <h5 class="mt-0 mb-1">Rwinkwavu Hospital</h5>
                        Rwinkwavu Hospital is located near Akagera Park and was a joint effort between Partners in Health (PIH) and the Rwandan Ministry of Health. Many people refer to it as the "Clinton Hospital" as the Clinton Foundation has provided some funding .
                    </div>

                </div>
            </div>
        </div><br>
        <div><h3>Refugees Camps</h3><br>

            <div class="row">
                <div class="col-md-3">
                    <div class="media-body">
                        <div class="hovereffect">
                            <img src="https://www.impact-hope.org/wp-content/uploads/2015/11/BOY-ON-SIGN-AT-GIHEMBE-e1446672945917-1080x675.jpg" class="mr-3" alt="...">
                            <div class="overlay">
                                <a class="info" href="https://www.unhcr.org/rw/66-overview-2.html">More</a>
                            </div>
                        </div>
                        <h5 class="mt-0 mb-1">Gihembe Refugee camp</h5>
                        Gihembe refugee camp is located on a small hill in Gicumbi District, Northern Province. The camp currently is a home to about 20,000 refugees from the Democratic Republic of Congo who fled political turmoil in their country in 1997 .
                    </div>
                </div>

    </div>
    {{/partial}}
{{>layout.hbs}}