{{#partial "content"}}
    <div class="container">
        <h1>Areas to donate in the region</h1>
        <br>
        <br>
        <br>
        <div> <h3>Orphanages</h3><br>


    </div>
    {{/partial}}
{{>layout.hbs}}