<!--/*Diane start*/-->
{{#partial "styles"}}
    <link rel='stylesheet' href='/css/area.css'>
{{/partial}}

{{#partial "content"}}
    <div class="body">
                <p id="text1">Organisations Needing help</p>
        <div class="card">
            <div class="main">
                <br>
                <br>
                <br>
                <div> <br>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="media-body">
                                <div class="hovereffect">
                                    <img src="https://image.shutterstock.com/image-photo/elementary-school-kids-having-fun-260nw-667950202.jpg" class="mr-3" alt="...">
                                    <div class="overlay">
                                        <a class="info" href="www.gisimbamemorialcenter.org">More</a>
                                    </div>
                                </div>
                                <h5 class="mt-0 mb-1">Gisimba Memorial Center</h5>
                                <!--                            Gisimba Memorial Centre is an after-school centre for disadvantaged children in Kigali, Rwanda. Formerly, it was the oldest and best-known orphanage in Rwanda .-->
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="media-body">
                                <div class="hovereffect">
                                    <img src="https://www.thesouthafrican.com/wp-content/uploads/2012/09/ubuntu-boy.jpg" class="mr-3" alt="...">
                                    <div class="overlay">
                                        <a class="info" href="https://kunda-village-ministry.jimdo.com/">More</a>
                                    </div>
                                </div>
                                <h5 class="mt-0 mb-1">Kunda Village Ministry</h5>
                                <!--                            Kunda Village is based in Kigali, Rwanda. We are working to provide meals, education, and support for orphans in Rwanda. We are dependent on the support of donors to fund our mission .-->
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="media-body">
                                <div class="hovereffect">
                                    <img src="http://communityofhopepdx.org/wp-content/uploads/2016/10/New-COH-Edge.png" class="mr-3" alt="...">
                                    <div class="overlay">
                                        <a class="info" href="http://www.imbabazi.org/">More</a>
                                    </div>
                                </div>
                                <h5 class="mt-0 mb-1">Imbabazi(A center of hope)</h5>
                                <!--                            Imbabazi is dedicated to the continuation and preservation of Roz Carr’s legacy of nurturing and empowering Rwanda’s children and local communities through education, skills training, and income generating opportunities .-->
                            </div>

                        </div>
                    </div>
                </div><br>
                <div>
                    <br>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="media-body">
                                <div class="hovereffect">
                                    <img src="https://media2.govtech.com/images/940*529/hospital1.jpg" class="mr-3" alt="...">
                                    <div class="overlay">
                                        <a class="info" href="https://www.google.com/search?q=kibagabaga+hospital&oq=Kibagabaga+Hospital&aqs=chrome.0.0l8.1088j0j9&sourceid=chrome&ie=UTF-8">More</a>
                                    </div>
                                </div>
                                <h5 class="mt-0 mb-1">Kibagabaga Hospital</h5>
                                <!--                            Kibagabaga Hospital is next to Kibagabaga and is located in Kigali Province, Rwanda. Kibagabaga Hospital has a length of 0.67 kilometres .-->
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="media-body">
                                <div class="hovereffect">
                                    <img src="https://ugandaradionetwork.net/a/helpers/image.php?fileId=90655&m=1&w=640" class="mr-3" alt="...">
                                    <div class="overlay">
                                        <a class="info" href="https://www.google.com/search?q=masaka+hospital&oq=Masaka+Hospital&aqs=chrome.0.0l8.2551j0j9&sourceid=chrome&ie=UTF-8">More</a>
                                    </div>
                                </div>
                                <h5 class="mt-0 mb-1">Masaka Hospital</h5>
                                <!--                            Masaka Hospital, Rwanda, commonly known as Masaka Hospital, is a hospital in Rwanda. It is an urban, general hospital built between 2008 and 2011, with funding from the Government of China, as a gift to the Government of Rwanda .-->
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="media-body">
                                <div class="hovereffect">
                                    <img src="https://static.independent.co.uk/s3fs-public/thumbnails/image/2019/08/27/15/shri-maharaja-hari-singh-hospital.jpg?w968h681" class="mr-3" alt="...">
                                    <div class="overlay">
                                        <a class="info" href="http://www.rwinkwavudh.rw/">More</a>
                                    </div>
                                </div>
                                <h5 class="mt-0 mb-1">Rwinkwavu Hospital</h5>
                                <!--                            Rwinkwavu Hospital is located near Akagera Park and was a joint effort between Partners in Health (PIH) and the Rwandan Ministry of Health. Many people refer to it as the "Clinton Hospital" as the Clinton Foundation has provided some funding .-->
                            </div>

                        </div>
                    </div>
                </div><br>
                <div><br>

                    <div class="row">
                        <div class="col-md-3">
                            <div class="media-body">
                                <div class="hovereffect">
                                    <img src="https://o.aolcdn.com/images/dims?quality=85&image_uri=http%3A%2F%2Fo.aolcdn.com%2Fdims-shared%2Fdims3%2FGLOB%2Fcrop%2F4350x2900%2B0%2B26%2Fresize%2F1200x800%21%2Fformat%2Fjpg%2Fquality%2F85%2Fhttp%3A%2F%2Fo.aolcdn.com%2Fhss%2Fstorage%2Fmidas%2Fbcf2a11b1ec47ad9319d145fc6dec024%2F202167482%2F19e7a2b380da4a1e974f2bcd4239964a.jpeg&client=amp-blogside-v2&signature=8ff8f21c53240824dbc158125321b2648f6b03a1" class="mr-3" alt="...">
                                    <div class="overlay">
                                        <a class="info" href="https://www.unhcr.org/rw/66-overview-2.html">More</a>
                                    </div>
                                </div>
                                <h5 class="mt-0 mb-1">Gihembe Refugee camp</h5>
                                <!--                            Gihembe refugee camp is located on a small hill in Gicumbi District, Northern Province. The camp currently is a home to about 20,000 refugees from the Democratic Republic of Congo who fled political turmoil in their country in 1997 .-->
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="media-body">
                                <div class="hovereffect">
                                    <img src="https://static01.nyt.com/images/2014/02/16/magazine/16kilis1/16kilis1-articleLarge.jpg?quality=75&auto=webp&disable=upscale" class="mr-3" alt="...">
                                    <div class="overlay">
                                        <a class="info" href="https://www.unhcr.org/rw/66-overview-2.html">More</a>
                                    </div>
                                </div>
                                <h5 class="mt-0 mb-1">Kigeme refugee Camp</h5>
                                <!--                            KIGEME Camp (Nyamagabe District): In 2012-2013, Rwanda received a sudden influx of over 35,000 refugees from the eastern DRC, fleeing fighting between Government forces (FARDC) and rebel militias. As a result, UNHCR and MIDIMAR opened Kigeme camp in Nyamagabe District, Southern Province, in mid-2012.-->
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="media-body">
                                <div class="hovereffect">
                                    <img src="https://s2.reutersmedia.net/resources/r/?m=02&d=20171227&t=2&i=1217579177&w=780&fh=&fw=&ll=&pl=&sq=&r=2017-12-27T213507Z_28885_MRPRC123DEC66B0_RTRMADP_0_MYANMAR-ROHINGYA-BANGLADESH" class="mr-3" alt="...">
                                    <div class="overlay">
                                        <a class="info" href="https://www.unhcr.org/rw/66-overview-2.html">More</a>
                                    </div>
                                </div>
                                <h5 class="mt-0 mb-1">KIZIBA Camp</h5>
                                <!--                            KIZIBA Camp was opened in December 1996, after the start of civil war in neighbouring Democratic Republic of the Congo (DRC). The camp was established in order to help cope with the influx of tens of thousands of refugees. Some of the refugees have since returned to their homes in eastern DRC .-->
                            </div>
                        </div>
                        <br>
                        <br>
                        <br>
                        <br>
                    </div>
                </div>
            </div>

        </div>
    </div>
    {{/partial}}
{{>layout1.hbs}}
<!--/*Diane start*/-->