{{#partial "content"}}
    <div class="row" id="un">

        <h2>“When you make a gift, you will instantly receive an email with a profile of a family whose lives are being transformed by our programs.”

            “Upon making a gift, we will immediately send you a video message from our staff in the field so you can see the impact of your donation.”</h2>
    </div>
    <div class="row">
        <div class="col-md-6">
            <img src="https://dollarsandsense.sg/wp-content/uploads/2015/12/Charity.jpg" width="600" id="img5">

        </div>
        <div class="col-md-6">
            <img src="https://imgix.bustle.com/uploads/getty/2017/9/1/b85e4a09-f96b-4cb6-bb39-8ebdbfa45362-getty-841240412.jpg?w=970&h=546&fit=crop&crop=faces&auto=format&q=70" width="600" id="img6">
        </div>
    </div>
    <div class="row">

    </div>
    <div class="row"></div>
{{/partial}}
{{>layout1.hbs}}
<style>
    #un{

    background-image:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url(https://amp.businessinsider.com/images/543ed23b6da8118345f8c041-750-563.jpg);
    background-size:cover;
    height:300px;
    margin-top:50px;
    margin-bottom:50px;
    background-attachement:fixed;
    }
    #img5{
    position:relative;
    left:200px;
    }
    #img6{
    position:relative;
    left:200px;
    margin-bottom:40px;
    }
    h2{
    text-align:center;
    color:white;
    font-family: 'Cinzel', serif;
    margin-top:30px;
    margin-left:50px;
    margin-right:50px;
    }
</style>