{{#partial "content"}}
    <div class="row" id="row1">
       <p>THANK YOU FOR VOLUNTEERING</p>
    </div>
    <div class="row">
        <div class="col-md-8">



        </div>
        <div class="col-md-4"></div>
    </div>
{{/partial}}
{{>layout.hbs}}
<style>
    #row1{
    background-image:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(https://images.squarespace-cdn.com/content/v1/573e0b188a65e20a6d96ef26/1465325088106-COOFL6Z5VC9G5LFYJVSK/ke17ZwdGBToddI8pDm48kNv3MpPKuJRAgWCzQp72XSUUqsxRUqqbr1mOJYKfIPR7Wj4jzmqc6p6rk1DK47rYomOGY_sy0bpjLt6y3DExjPvFhSPlVV71_Xhqg_adcQJM8eASbsDsrJy08vZ-CmvFaknfdGm7k7lPeweStH8dFxp92klJHZbZ9Z8xcp3BMWGN/people-helping-others-through-god_240192.png?format=2500w);
    background-size:cover;
    height:100%;
    }
    #row1 p{
    font-size:50px;
    color:white;
    margin-bottom:200px;
    margin-top:200px;
    position:relative;
    left:500px;
    }
</style>